<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    
    <title>Document</title>
</head>
<body>
    <main>
        <h1>LOGIN</h1>
        <hr>
        <form action="/login" method="post">
            <input type="text" id="username" name="username" placeholder="Ingresa tu usuario">
            <input type="password" name="password" id="password" placeholder="Contraseña">
            <button type="submit" class="btn-chat">Login</button>
        </form>
        <hr>
        <a href="/signup"><button class="logout">Registro</button></a>
    </main>
    
</body>
</html>